body{
  display: flex;
  flex-flow: column;
}

#board{
  display: flex;
  width: 98vw;
  height: 30vh;
  background-color: gray;
  flex-flow: column;
    margin: -5px auto;
    margin-left: -6px;
    margin-bottom: 40px;
}


#first{
  display: flex;
  background-color: green;
  height: 31%;
  flex: 31%;
}


#second{
  display: flex;
  background-color: red;
  height: 31%;
  flex: 31%;
}

#third{
  display: flex;
  background-color: blue;
  height: 31%;
  flex: 31%;
}


.firstrow{
flex: 10%;
border: solid black 4px;
display: flex;
}


.secondrow{
flex: 10%;
border: solid black 4px;
display: flex;
}



.thirdrow{
  flex: 10%;
  border: solid black 4px;
  display: flex;

}

#containerWrapper{
display: inline-flex;
margin-top: 20px;


}

#stickContainer{
  margin-left: 234px;
    display: flex;
    transform: rotate(45deg);
    background-color: orange;
    height: 50vh;
    width: 30vh;
}

.stick{
   background-color: black;
   border: solid orange 3px;
   border-radius: 50px;
   flex: 25%;
}




#buttstock{

}


#rules{

}


.player1Piece{
    flex:45%;
    background-color: yellow;
    border-radius: 50%;
}

.player2Piece{
  flex:45%;
  background-color: violet;
  border-radius: 50%;
}
