body{
  display: flex;
  flex-flow: column;
}

#board{
  display: flex;
  width: 98vw;
  height: 30vh;
  background-color: gray;
  flex-flow: column;
    margin: -5px auto;
    margin-left: -6px;
    margin-bottom: 40px;
}

#banner{
  margin: -5px auto;
  margin-left: -6px;
  margin-bottom: 5px;
  height: 10vh;
  width: 98vw;
  background-color: violet;
}

#banner>h1{
  text-align: center;
  line-height: 0.3;

}

#first{
  display: flex;
  background-color: green;
  height: 31%;
  flex: 31%;
}


#second{
  display: flex;
  background-color: red;
  height: 31%;
  flex: 31%;
  flex-direction: row-reverse;
}

#third{
  display: flex;
  background-color: blue;
  height: 31%;
  flex: 31%;
}

#second4{
  background-image: url("./images/ankh.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third5{
  background-image: url("./images/house-of-beauty.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#third6{
  background-image: url("./images/waters.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third7{
  background-image: url("./images/threedot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third8{
  background-image: url("./images/senet_two.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#third9{
  background-image: url("./images/Eye_of_Horus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.firstrow{
flex: 10%;
border: solid black 4px;
display: flex;
}


.secondrow{
flex: 10%;
border: solid black 4px;
display: flex;
}



.thirdrow{
  flex: 10%;
  border: solid black 4px;
  display: flex;

}

#containerWrapper{
display: inline-flex;
margin-top: 20px;


}

#stickContainer{
  margin-left: 28px;
    display: flex;
    /* transform: rotate(90deg); */
    background-color: orange;
    height: 50vh;
    width: 30vh;
    margin-top: -55px;
}

.stick{
   background-color: black;
   border: solid orange 3px;
   border-radius: 50px;
   flex: 25%;
}




#buttstock{

}


#rules{

}


.player1Piece{
    flex:1;
    height: 65%;
    width: 65%;
    background-color: yellow;
    border-radius: 50%;
}

.player2Piece{
  flex:1;
  height: 65%;
  width: 65%;
  background-color: violet;
  border-radius: 50%;
}

#Gflow{
  background-image:url("./images/senetarrow.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 40vw;
}
